{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"#}
{#        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>#}
{#    <title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#    <table width="265" border="1">#}
{#        <tr>#}
{#            <td width="224"><a href="/Manage_Schedule">manage schedule</a></td>#}
{#        </tr>#}
{##}
{#        <tr>#}
{#            <td><a href="/View_Notification">view notifications</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><a href="/View_Profile">view profiles</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><a href="/changepassword">Change Password</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><a href="/view_review_and_Rating">view review and rating</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><a href="/View_Accepted_Booking_p1">View Accepted Booking p1</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><a href="/View_Booking_And_Verify">View Booking and verify</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><a href="/chatwith_doc">Chat</a></td>#}
{#        </tr>#}
{#    </table>#}
{#</form>#}
{#<a href="#"></a>#}
{#</body>#}
{#</html>#}


{#<!DOCTYPE html>#}
<html lang="en">
<head>

    <title>Early Pcod</title>
    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/doctor_temp/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/doctor_temp/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/doctor_temp/css/animate.css">
    <link rel="stylesheet" href="/static/doctor_temp/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/doctor_temp/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/doctor_temp/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- HEADER -->
{#     <header>#}
{#          <div class="container">#}
{#               <div class="row">#}
{##}
{#                    <div class="col-md-4 col-sm-5">#}
{#                         <p>Welcome to a Professional Health Care</p>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-8 col-sm-7 text-align-right">#}
{#                         <span class="phone-icon"><i class="fa fa-phone"></i> 010-060-0160</span>#}
{#                         <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 6:00 AM - 10:00 PM (Mon-Fri)</span>#}
{#                         <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">info@company.com</a></span>#}
{#                    </div>#}
{##}
{#               </div>#}
{#          </div>#}
{#     </header>#}


<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">

    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
        </button>

        <!-- lOGO TEXT HERE -->
        <a href="/doctor_home" class="navbar-brand"><i class="fa fa-etsy"></i>arly <i class="fa fa-pinterest-p"></i>cod</a>
    </div>

    <!-- MENU LINKS -->
    <div class="container">

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#top" class="smoothScroll">Home</a></li>
                <li><a href="/Manage_Schedule#content" class="smoothScroll">Schedules</a></li>
                <li><a href="/View_Notification#content" class="smoothScroll">Notifications</a></li>
                <li><a href="/View_Profile#content" class="smoothScroll">Profile</a></li>
                <li><a href="/changepassword1#content" class="smoothScroll">Change Password</a></li>
                <li><a href="/view_review_and_Rating#content" class="smoothScroll">Review & Rating</a></li>
                <li><a href="/View_Booking_And_Verify#content">Verify Bookings</a></li>
                <li><a href="/View_Accepted_Booking_p1#content" class="smoothScroll">Bookings</a></li>
                <li><a href="/chatwith_doc" class="smoothScroll">Chat</a></li>
                <li class="appointment-btn"><a href="/log_out">Logout</a></li>
            </ul>
        </div>

    </div>
</section>


<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Let's make your life happier</h3>
                            <h1>Healthy Living</h1>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Aenean luctus lobortis tellus</h3>
                            <h1>New Lifestyle</h1>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Pellentesque nec libero nisi</h3>
                            <h1>Your Health Benefits</h1>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ABOUT -->
<section id="content" style="background-color: whitesmoke">
    <div class="container">
        <div style="margin-top: 70px;margin-bottom: 70px">

            {% block body %}

            {% endblock %}
        </div>

    </div>
</section>


<!-- TEAM -->
<!-- FOOTER -->
<footer data-stellar-background-ratio="5">
    <div class="container">


        <div class="col-md-12 col-sm-12 border-top text-center">
            <div class="copyright-text">
                <p>Copyright &copy; 2024 Early Pcod</p>
            </div>
{#            <div class="col-md-2 col-sm-2 text-align-center">#}
{#                <div class="angle-up-btn">#}
{#                    <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i#}
{#                            class="fa fa-angle-up"></i></a>#}
{#                </div>#}
{#            </div>#}
        </div>

    </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script src="/static/doctor_temp/js/jquery.js"></script>
<script src="/static/doctor_temp/js/bootstrap.min.js"></script>
<script src="/static/doctor_temp/js/jquery.sticky.js"></script>
<script src="/static/doctor_temp/js/jquery.stellar.min.js"></script>
<script src="/static/doctor_temp/js/wow.min.js"></script>
<script src="/static/doctor_temp/js/smoothscroll.js"></script>
<script src="/static/doctor_temp/js/owl.carousel.min.js"></script>
<script src="/static/doctor_temp/js/custom.js"></script>

</body>
</html>